test.c
test.py
forcd_sensor_485_modbus_rtu.py
camera/

__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/
.pytest_cache/

.vscode/
.idea/
*.swp
*.swo
*.sublime-*

venv/
env/
pip-selfcheck.json

.env
.env.local
.env*.local

*.log
*.sqlite
*.db

.DS_Store
Thumbs.db